#form-login {
  padding: 2rem;
  background: #f4f4f4;
}

#form-login label {
  display: block;
}

#form-login input[type='email'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#form-login input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#submit_login {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

#submit_login:hover {
  background: #444;
}

.error_login {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

#new_user {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

#new_user:hover {
  background: #444;
}
