.form-login {
  padding:20px;
}

.form-login .form-login-div{
  padding-bottom: 15px; /* Set spacing between inputs */
}

.form-login label {
  display:block; /* Change from inline (everything on same line) to block*/
}

/* Target only input with type text to not make button bigger */
.form-login input[type="text"], input[type="email"] {
  padding:8px;
  width: 50%; /* Makes area where you enter response bigger */
}
