#mainHeader {
    background-color:LIGHTCYAN;
    color:black;
    padding:10px;
}
.menu {
        position: sticky;
        top: 0;
        background-color: AQUAMARINE;
        padding:10px 0px 10px 0px;
        color:white;
        margin: 0 auto;
        overflow: hidden;
    }
 .menu-log {
      right: auto;
      float: right;
  }
  #mainFooter{
    text-align: center;
    font-size:18px;
  }
