/* ----------------------------  Header  ------------------------------- */

.mainHeader {
    background-color:LIGHTCYAN;
    color:black;
    padding:10px;
}
.menu {
        position: sticky;
        top: 0;
        background-color: AQUAMARINE;
        padding:10px 0px 10px 0px;
        color:white;
        margin: 0 auto;
        overflow: hidden;
    }

.menu a{
  text-decoration: none;  /*No underline*/
  color:#000;             /*Black color*/
}

.menu a:hover{
  color:red;              /*Set the color to red*/
}

 .menu-login {
      right: auto;
      float: right;
  }

/* ----------------------------  Footer  ------------------------------- */
  .mainFooter{
    text-align: center;
    font-size:18px;
  }
