/* ----------------------------  Body  ------------------------------- */
body {
  background-color: #f4f4f4; /* Light grey */
  color: #555;
  font-family: Arial, Helvetica, sans-sans-serif;
  font-size: 16px;
  line-height: 1.6 em;
  margin:0px;
}

/* ----------------------------  Container  ------------------------------- */
.container {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

/* ----------------------------  Header  ------------------------------- */

.mainHeader {
    background-color:LIGHTCYAN;
}
/* ------------------------- Navigation bar ---------------------------- */

.nav-bar {
  background-color: #333; /* Dark grey*/
  color: #FFF;            /* White */

}

.nav-bar ul {
  padding: 0;
  list-style: none; <!-- No bullet points-->
}

.nav-bar li {
  display: inline;

}

.nav-bar a {
  color: #fff;              /* White */
  text-decoration: none;    /* No underline */
  font-size: 18px;          /* Make text bigger */
  padding-right: 15px;

}

.nav-bar a:hover{
  color:red;              /*Set the color to red*/
}

/* ----------------------------  Footer  ------------------------------- */
  .mainFooter{
    text-align: center;
    font-size:18px;
  }
